Proyecto_Dosificador_Mezclador_Automatico/IM/SearchIndex/
Proyecto_Dosificador_Mezclador_Automatico/IM/SearchIndex/segments.gen
Proyecto_Dosificador_Mezclador_Automatico/IM/SearchIndex/segments_6c
Proyecto_Dosificador_Mezclador_Automatico/System/~PEData.2
